<p id="notice"><%= notice %></p>

<p>
  <strong>A:</strong>
  <%= @testcontroller.a %>
</p>

<p>
  <strong>B:</strong>
  <%= @testcontroller.b %>
</p>

<p>
  <strong>C:</strong>
  <%= @testcontroller.c %>
</p>

<%= link_to 'Edit', edit_testcontroller_path(@testcontroller) %> |
<%= link_to 'Back', testcontrollers_path %>
